@model X.PagedList.IPagedList<BoanMusicApp.BO.Track>
@using X.PagedList.Mvc.Core

<!DOCTYPE html>
<html>
<head>
    <title>Track List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Track List</h2>

    <!-- Search form -->
    <form asp-controller="Track" asp-action="Search" method="post">
        <input type="text" name="searchQuery" placeholder="Search by name or genre">
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Track ID</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Genre</th>
                <th>Image</th>
                <th>Artist Name</th>
                <th>Album Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Model)
            {
                <tr>
                    <td>@track.Track_ID</td>
                    <td>@track.Name</td>
                    <td>@TimeSpan.FromSeconds(track.Duration).ToString("mm\\:ss")</td>
                    <td>@track.Genre</td>
                    <td>@track.TrackImage</td>
                    <td>@track.ArtistName</td>
                    <td>@track.AlbumName</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("GetTracks", "Track", new { page }), X.PagedList.Web.Common.PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
    
    <!-- Button to add a new track -->
    <a href="/Track/AddNewTrack" class="btn btn-primary">Add New Track</a>
</body>
</html>
